.header_section{
	width: 100%;
	background: url('intro-bg.jpg');
	height: 90vh;
	/*nicher 2 tag ami nige niechi karon image ta full astechilo na*/
background-position:center;
background-size: cover;
	
}
.header_body{
	width: 100%;
	height: 90vh;
	position: relative;
}
.header_content{
	color: white;
	/*border:2px solid red;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	
}
.header_content h1{
	margin: 0;
	padding: 10px 0;
    font-size: 60px;

}
.header_content h4{
	margin: 0;
	/*border: 2px solid green;*/
	font-size: 30px;
   border-bottom: 2px solid #009900;
    margin-bottom: 15px;
    padding: 20px;
}

.ipad_section, .dog_section, .phone_section{
	background:#f0f0f5;
	padding: 40px 0;
}

.ipad_body,.dog_body, .phone_section{
	/*border: 2px solid black;*/
	margin-top: 50px;
}
.dog_section{
	background: #ffffff;
	
}

/*start boostrap section */
.Start_boostrap_section{
	margin: 0;
	width: 100%;
	background: url('banner-bg.jpg');
	background-size: cover;
	height: 40vh;
	background-position:center;
	/*
	
   position: relative;*/
}
.text_left h1{
	color: white;
	padding-top: 100px;
	
}

.button_right{
	    padding-top: 100px;
	    margin: 0;
}

.footer_section{
	width: 100%;
	background: white;
    height: 25vh;
}
	


/*end start boostrap section*/


/*page er nicher dike media er bepare korte hoy, jemon mobile, laptop
desktop er alada CSS */
/*media query*/
/*mobile er jonno: http://getbootstrap.com/css/* ai link theke Media queries er niche theke newa */
/*and ai link http://getbootstrap.com/css/#grid > er modde "Media queries" er modde  ekta chart ache jekhane all information 
ache koto px koin divece er jonno etc */
@media (max-width: 767px) { 
	
 /*jodi ai divece er jono kichu change korte chay tahole ai media er modde css korte hobe*/
     body{
	 background: red;

     }
    .header_content, .text_left h1{
	 color: coral;
	 font-size: 30px;
     }
     .header_content h4{
     	font-size: 22px;
     }
     .btn{
     	background: coral;
     	color: black;
     }
     .ipad_body, .dog_body,.phone_section, .text_left{
     	text-align: center;
     }
     

}

@media (min-width: min-width: 768) and (max-width: 991) {

}
@media (min-width:992) and (max-width: 1199) {

}
@media (min-width: 1200px) { 
 }
/*Mobile*/
